body { 
min-width: 960px;
margin: 0; 
padding: 0;
font-size: 13px;
line-height: 24px;
font-weight: 400;
font-style: normal;
font-family: "PT Sans","Cuprum",sans-serif;
color: #000;
background-color: #fff 
}

.container {
width: 940px;
padding: 0 10px;
margin: 0 auto;
}

a, a:visited {
color: #ffffff;
text-decoration: none
}

header {
background-color: #f4f7f9;
padding-bottom: 60px;
}

.header-logo {
padding: 10px 55px;
background: #ee3643;
box-shadow: 0 5px #b52933;
}

.header-top {
background-color: #293449;
}

.header-top-wrapper {
display: flex; 
justify-content: space-between;
align-items: center;
}

.header-top a {
/* Style for "Поиск:" */
color: #ffffff;
font-family: "PT Sans","Cuprum",sans-serif;
font-size: 17px;
font-weight: 400;
line-height: 18px;
}

.searching {
display: flex;
justify-content: center;
}

.search-form{
width: 250px;
}
.search-input{
width: 100%;
border: none;
height: 40px;
padding-left: 50px;
box-sizing: border-box;
}

.about-orders {
display: flex;
justify-content: space-between;
align-items: center;
width: 450px;
height: 48px;
}

.about-orders a{
padding: 15px 20px;
}

.order {
background-color: #63a63e;
}

.header-middle {
display: flex; 
align-items: center;
justify-content: space-between;
padding: 45px 0;
}

.header-middle h1 {
display: inline-block;
vertical-align: top;
margin-left: 20px;
width: 300px;
padding: 0;
color: #ee3643;
font-family: "PT Sans","Cuprum",sans-serif;
font-size: 16px;
font-style: italic;
line-height: 23px;
}

.our-phone-number {
color: #ee3643;
font-family: "PT Sans","Cuprum",sans-serif;
font-size: 21px;
font-weight: 400;
line-height: 21px;
border: 3px solid #ffffff;
width: 270px;
height: 45px;
box-sizing: border-box;
text-align: center;
padding-top: 10px;
}

.header-contacts {
width: 300px;
height: 60px;
text-align: center;
}

.user-block {
height: 45px;
width: 270px;
display: flex;
justify-content: space-between;
align-items: center;
}

.user-block a {
padding: 10px 20px;
background-color: #fff;
}

.header-middle p {
color: #32425c;
font-family: "PT Sans","Cuprum",sans-serif;
font-size: 14px;
}

.header-middle a {
color: #000000;
font-family: "PT Sans","Cuprum",sans-serif;
font-size: 21px;
font-weight: 400;
line-height: 21px
}
.enter {
padding-left: 20px;
}


.personal-data a {
color: #32425c;
font-size: 16px;
font-weight: 400;
line-height: 18px;
text-decoration: underline;
}

.id-name a {
padding: 15px 70px 15px 45px;
box-sizing: border-box;
background-color: #fff;
text-decoration: none;
color: #000000;
font-family: Cuprum;
font-size: 21px;
font-weight: 400;
line-height: 21px;
}
.id-data{
display: flex;
justify-content: space-around;
align-items: center;
margin-top: 20px;
}

.header-middle a:hover, .personal-data a:hover {
color: #ee3643;
}

.main-navigation {
background-color: #32425c;
}

.site-navigation {
list-style: none;
padding: 0 10px;
display: flex;
justify-content: space-between;
align-items: center;	
text-align: center;
}

.site-navigation li {
color: #ffffff;
font-family: "PT Sans","Cuprum",sans-serif;
font-size: 17px;
font-weight: 400;
line-height: 17px;
height: 60px;
}
.site-navigation a {
display: inline-block;
padding: 20px 25px;
}

.cascade-navigation {
display: flex;
justify-content: flex-start;
}

.cascade-navigation a {
/* Style for "Каталог" */
color: #000000;
font-family: "PT Sans","Cuprum",sans-serif;
font-size: 13px;
font-weight: 400;
line-height: 18px;
text-transform: uppercase;
padding: 25px 0px;
padding-right: 15px;
padding-left: 15px;
}
.cascade-navigation a:nth-child(1){
padding-left: 0px;
}

.catalog-head	{
	/* Style for "ПЕРФОРАТОР" */
display: inline-block;
vertical-align: middle;
height: 89px;
color: #32425c;
font-family: "PT Sans","Cuprum",sans-serif;
font-size: 30px;
font-weight: 400;
line-height: 30px;
text-indent: 30px;
text-transform: uppercase;
background-color: #f2f6f8;
}

.catalog {
display: flex;
justify-content: flex-start;
width: 940px;
}

.filters {
width: 220px;
}

.filters ul {
	/* Style for "ПРОИЗВОДИТ" "акумулятор" */
list-style: none;
color: #000000;
font-family: "PT Sans","Cuprum",sans-serif;
font-size: 17px"PT Sans","Cuprum",sans-serif;"PT Sans","Cuprum",sans-serif;
font-weight: 700;
line-height: 30px;
text-transform: uppercase;
padding: 0;
}

.filters li {
/* Style for "BOSCH  ИНТ" */
font-size: 15px;
font-weight: 400;
line-height: 20px
}

.catalog-button {
color: #000000;
font-family: "PT Sans","Cuprum",sans-serif;"PT Sans","Cuprum",sans-serif;
font-size: 13px;
font-weight: 400;
line-height: 18px;
padding: 15px 40px;
background-color: #fff;
border-radius: 5px;
box-shadow: 0;
}


.item-list {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
width: 700px;	
}

.item {
width: 220px;
margin-bottom: 20px;
margin-right: 10px; 
}

.item:nth-child(3n) {
  margin-right: 0;
}
.item-list p {
color: #999999;
font-family: "PT Sans","Cuprum",sans-serif;"PT Sans","Cuprum",sans-serif;
font-size: 17px;
font-weight: 700;
line-height: 18px;
text-transform: uppercase;
text-decoration: line-through;
}

.item-list a {
color: #ffffff;
font-family: "PT Sans","Cuprum",sans-serif;"PT Sans","Cuprum",sans-serif;
font-size: 17px;
font-weight: 700;
line-height: 18px;
text-transform: uppercase;
background: #ee3643; 
width: 80px;
margin-right: 10px;
padding: 10px 14px 10px 29px;
border-radius: 3px 0 0 3px;
}

.item-list a:hover { 
opacity: 0.2 ;
-moz-opacity: 1;
filter: alpha(opacity=100) black;
-khtml-opacity: 1;
background-color:#000;
}

.item-list span {
color: #000000;
font-family: "PT Sans","Cuprum",sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 20px;
}

.buy-drill {
display: none;
}

.main-bottom {
display: flex;
justify-content: space-around;
align-items: center;
}

.main-bottom-left h2 {
/* Style for "КОМПАНИЯ «" */
font-family: "PT Sans","Cuprum",sans-serif;
font-size: 30px;
font-weight: 400;
line-height: 30px;
text-transform: uppercase;
}

.main-bottom-left p {
font-family: "PT Sans","Cuprum",sans-serif;
font-weight: 400;
line-height: 24px;
font-size: 14px;
}

.contractors a {
	/* Text style for "Деловые ли" */
color: black;
font-family: "PT Sans","Cuprum",sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 20px;
}

.btn-about-us {
width: 139px;
height: 12px;
color: #ffffff;
font-family: Cuprum;
font-size: 14px;
font-weight: 400;
line-height: 18px;
text-transform: uppercase;
background-color: #ee3643;
padding: 15px 40px;
border-radius: 5px;
}

.contacts {
display: block;
width: 300px;
padding: 20px
}

.contacts h2 {
font-family: "PT Sans","Cuprum",sans-serif;
font-size: 30px;
font-weight: 400;
line-height: 30px;
text-transform: uppercase
}
.contacts span {
font-family: "PT Sans","Cuprum",sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 24px;
}

.bigmap {
	display: none;
}

.contacts a {
width: 300px;
height: 38px;
background-color: #ee3643;
color: #ffffff;
font-family: "PT Sans","Cuprum",sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 18px;
text-transform: uppercase;
padding: 10px 60px;
border-radius: 5px;
}

.write-us {
display: none;
}

footer {
background: #32425c;
}

footer a:hover {
text-decoration: underline;
}

.item-list, .footer-navigation, .footer-adv-navigation, .social-list {
list-style: none;
}

.main-footer-wrapper {
display: flex; 
height: 200px;
padding-top: 10px;
}

.main-footer p {
	/* Style for "г. Санкт-П" */
color: #f3f7f9;
font-family: "PT Sans","Cuprum",sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 24px;
}

.main-footer-left{
display: block;
}

.footer-logo {
/* Style for "Layer 90 c" */
width: 220px;
height: 68px;
padding: 20px 40px;
box-shadow: inset 0 -5px #b52933;
background-color: #ee3643;
}

.main-footer-right{
display: block;
}

.footer-navigation {
display: flex;
justify-content: space-around;
width: 550px;
float: right;
}

.footer-adv-navigation {
display: flex;
justify-content: space-around;
width: 520px;
float: right;
}

.footer-navigation a {
/* Style for "Компания" */
width: 69px;
height: 13px;
color: #f1f5f7;
font-family: "PT Sans","Cuprum",sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 24px;
}

.footer-adv-navigation a {
/* Style for "Материалы" */
color: #ffd180;
font-family: "PT Sans","Cuprum",sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 24px;
}

.footer-bottom { 
height: 105px;
background-color: #293449
}

.footer-bottom-wrapper {
display: flex;
justify-content: space-between;
}

.footer-bottom-1 {
float: left;
width: 300px;
}

.footer-bottom-2 {
width: 330px;
margin-right: 10px;
}

.footer-bottom-3 {
display: flex;
justify-content: center;
}


.social-list {
display: flex;
justify-content: center;
width: 330px;
margin-right: 10px;
text-align: center;
}

.social-list a {
float: left;
border-radius: 50%;
background-color: #212a3a;
padding: 10px;
}
.social-list a:hover {
background:  #ee3643;
}

.footer-bottom p {
color: #ffffff;
font-family: "PT Sans","Cuprum",sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 18px;
padding: 0 20px;
}

.footer-bottom a {
color: #ffd180
}
